<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>
			{% block title %}Welcome! {% endblock %}
		</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimal-ui">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="description" content="" />
    <meta name="keywords" content="">
    <meta name="author" content="Phoenixcoded" />
		<link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">

		{% block stylesheets %}
			{{ encore_entry_link_tags('app') }}
			<!-- Favicon icon -->
			<link rel="icon" href="{{ asset('custom/images/favicon.svg') }}" type="image/x-icon">
			<link rel="stylesheet" href=" {{ asset('custom/css/plugins/dataTables.bootstrap5.min.css') }} ">
      <link rel="stylesheet" href=" {{ asset('custom/css/plugins/select.bootstrap5.min.css') }} ">
      <link rel="stylesheet" href=" {{ asset('custom/css/plugins/buttons.bootstrap5.min.css') }} ">

      <link rel="stylesheet" href=" {{ asset('custom/css/plugins/animate.min.css') }} ">

			<!-- font css -->
			<link rel="stylesheet" href="{{ asset('custom/fonts/tabler-icons.min.css') }} ">
			<link rel="stylesheet" href="{{ asset('custom/fonts/feather.css') }}">
			<link rel="stylesheet" href="{{ asset('custom/fonts/fontawesome.css') }}">
			<link rel="stylesheet" href="{{ asset('custom/fonts/material.css') }}">

			<!-- vendor css -->
			<link rel="stylesheet" href="{{ asset('custom/css/style.css') }}">
			<link rel="stylesheet" href="{{ asset('custom/css/customizer.css') }}">
		{% endblock %}

		{% block javascripts %}
			{{ encore_entry_script_tags('app') }}
      <script src="{{ asset('custom/js/vendor-all.min.js') }}"></script>
      <script src="{{ asset('custom/js/plugins/bootstrap.min.js') }}"></script>
      <script src="{{ asset('custom/js/plugins/feather.min.js') }}"></script>
      <script src="{{ asset('custom/js/pcoded.min.js') }}"></script>

      <script src="{{ asset('custom/js/plugins/apexcharts.min.js') }}"></script>
      <script src="{{ asset('custom/js/pages/dashboard-sale.js') }}"></script>

			<script src=" {{ asset('custom/js/plugins/jquery.dataTables.min.js') }} "></script>
      <script src=" {{ asset('custom/js/plugins/dataTables.bootstrap5.min.js') }} "></script>
      <script src=" {{ asset('custom/js/plugins/dataTables.autoFill.min.js') }} "></script>
      <script src=" {{ asset('custom/js/plugins/autoFill.bootstrap5.min.js') }} "></script>
      <script src=" {{ asset('custom/js/plugins/dataTables.keyTable.min.js') }} "></script>
      <script src=" {{ asset('custom/js/plugins/keyTable.bootstrap5.min.js') }} "></script>
      <script src=" {{ asset('custom/js/plugins/dataTables.select.min.js') }} "></script>
      <script src=" {{ asset('custom/js/pages/data-select-custom.js') }} "></script>
      <script src=" {{ asset('custom/js/pages/data-autofill-custom.js') }} "></script>

      <script src=" {{ asset('custom/js/plugins/buttons.colVis.min.js') }} "></script>
      <script src=" {{ asset('custom/js/plugins/buttons.print.min.js') }} "></script>
      <script src=" {{ asset('custom/js/plugins/pdfmake.min.js') }} "></script>
      <script src=" {{ asset('custom/js/plugins/jszip.min.js') }} "></script>
      <script src=" {{ asset('custom/js/plugins/dataTables.buttons.min.js') }} "></script>
      <script src=" {{ asset('custom/js/plugins/vfs_fonts.js') }} "></script>
      <script src=" {{ asset('custom/js/plugins/buttons.html5.min.js') }} "></script>
      <script src=" {{ asset('custom/js/plugins/buttons.bootstrap5.min.js') }} "></script>
      <script src=" {{ asset('custom/js/pages/data-export-custom.js') }} "></script>
		{% endblock %}
	</head>
	<body>
    {% include "base/preloader.html.twig" %}
    {% include "base/mobileheader.html.twig" %}
    {% include "base/navigation.html.twig" %}
    {% include "base/header.html.twig" %}

    <!-- [ Main Content ] start -->
      <div class="pc-container">
        <div class="pcoded-content">
          {% block body %}{% endblock %}
        </div>
      </div>
    <!-- [ Main Content ] end -->
	</body>
</html>
